# Python
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env.local
*.sqlite3
*.ipynb_checkpoints
# Node
node_modules/
.npm/
.yarn/
.pnp.*
.next/
out/
.DS_Store
# VSCode
.vscode/
# logs
*.log
# uploads
server/uploads/
